body{
    margin: 0px;
    font-family: 'Teko', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}
h3{
    font-size: 40px;
}
p{
    font-size: x-large;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 3.5%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding: 5px 11px;
    border-radius: 7.5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}